.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

html,div{
    background-color: rgb(9, 34, 34);
    color: grey;
}

a{
    color: blueviolet;
}

.button-container * {
    display: inline-block;
}

.button-container input {
    display: inline-block;
    vertical-align: middle;
}